body{
      background: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
}

header{
      box-shadow: var(--box-shadow);
      background-image: linear-gradient(to right, #e3eeff 0%, #e3eeff 99%, #e3eeff 100%);
  }
  
  header .logo{
      font-size: 20px;
      color: var(--black);
  }
  header .logo span{
      color: var(--main-color);
  }
  header .nav a{
      margin-left: 3px;
      border-radius: 40px;
      color: var(--black);
      padding:5px 15px;
  }
  header .nav a.active{
      background: var(--main-color);
      color: white;
  }
  header .nav a:hover{
      background: var(--main-color);
      box-shadow: var(--black);
      color: #fff;
  }
  #menu-bar{
      color: var(--black);
      cursor: pointer;
      font-size: 24px;
      transition: all.2s linear;
  }


    
h1 {
	font-weight: bold;
	margin: 0;
}

h2 {
	text-align: center;
}

p {
	font-size: 14px;
	font-weight: 100;
	
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;

}

button {
	border-radius: 20px;
	margin-top: 20px;
	background:linear-gradient(to right, #2bf8ff, #ffd900);
	color: #070527;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background: linear-gradient(to right, #b3e7e9, #e6ecf3);
	border: none;
	padding: 10px 10px;
	margin: 5px 0;
	width: 100%;
	border-radius: 20px;
	
  	box-shadow: 0 8px 8px rgba(0,0,0,0.25), 
			0 8px 8px rgba(0,0,0,0.22);
}
input:focus{
	background: linear-gradient(to right, #2bf8ff, #4193ff);
	
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
}
select{
	background: linear-gradient(to right, #b3e7e9, #e6ecf3);
	border: none;
	padding: 10px 10px;
	margin: 5px 0;
	width: 100%;
	border-radius: 20px;
	
  	box-shadow: 0 8px 8px rgba(0,0,0,0.25), 
			0 8px 8px rgba(0,0,0,0.22);
}

.ct {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 550px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 100px;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.ct.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.ct.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.ct.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	background: #2ad6bf;
	background: -webkit-linear-gradient(to right, #27e2c9, #c6ff41);
	background: linear-gradient(to right, #2bf8ff, #4193ff);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.ct.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.ct.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.ct.right-panel-active .overlay-right {
	transform: translateX(20%);
}

